name = "cloudflare_temp_email"
main = "src/worker.ts"
compatibility_date = "2025-04-01"
compatibility_flags = [ "nodejs_compat" ]

# 如果你使用的是自定义域名部署前端，请取消下面两行的注释并修改域名
# routes = [
# 	{ pattern = "email.qil.qzz.io", custom_domain = true },
# ]

[vars]
PREFIX = "tmp"
# 默认域名和所有可用域名设置
DEFAULT_DOMAINS = ["email.qil.qzz.io", "email.qilian.dpdns.org"]
DOMAINS = ["email.qil.qzz.io", "email.qilian.dpdns.org"]

# 管理员密码：强烈建议修改 "123456"，否则任何人都能进后台
ADMIN_PASSWORDS = ["123456"]

# JWT密钥：请随便输入一串随机字母数字，用于登录加密
JWT_SECRET = "改成你自己的随机字符串"

# 基础功能开关
ENABLE_USER_CREATE_EMAIL = true
ENABLE_USER_DELETE_EMAIL = true
ENABLE_AUTO_REPLY = false

[[d1_databases]]
binding = "DB"
# 【重要：需要你修改】这里填你创建的 D1 数据库名字
database_name = "youjian"
# 【重要：需要你修改】这里填你第一步获取的 database_id
database_id = "3ed12981-b30f-4479-ae95-76e9f033c5b5"
